body{
    margin: 0%;
}
.container{
    width: 100%;
    background-color: rgba(255, 99, 71, 0);
    display: block;

}
header{
    width: 70%;
    margin: 10px auto 0px auto;
    background-color: rgba(172, 255, 47, 0);
    display:flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
    
}
.logo{
    width: 20%;
    height: 80px;
    background-color: rgba(128, 128, 128, 0);
}
svg{
    margin: 0px;
}
nav{
    width: 70%;
    background-color: rgba(255, 228, 196, 0);
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    margin-top: 10px;
}
a p{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: rgb(65, 63, 63);
}
.subscribe{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    width: 20%;
    background-color: rgba(151, 28, 28, 0);
    text-align: right;
    padding: 8px 0px;
    
}
.subscribe p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    
}
.Subscribe-button{
    text-decoration: none;
    border: 0px solid rgba(188, 143, 143, 0);
    background-color: rgb(7, 49, 104);
    color: white;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 15px 9px 15px ;
   
}
.Subscribe-button:hover{
    color: rgb(7, 49, 104);
    background-color: #ff7300;
    transition: 0.4s;
    border: 0.5px;
}
main{
    width: 100%;
    margin: 0px;
    padding: 140px 0px;
    background: linear-gradient(to right, rgba(24, 23, 23, 0.096) 50%, rgba(17, 17, 17, 0.041)), url('Resources/Image.jpeg');
    background-position: center;
    background-size: cover;
    min-height: 500px;
    
}
.chef{
    margin: 0px auto;
    text-align: center;
    align-self: center;
    
}
.myform{
    width: 36.5%;
    min-height: 410px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    margin: 0px auto;
    text-align: center;

}
.selected{
    text-decoration: underline;
    color: #ff7300;
    font-weight: 700;
}
.small-form{
    width: 70%;
    min-height: 405px;
    background-color: rgb(255, 255, 255);
    border: 5px dotted rgb(2, 72, 104);
    border-style: dashed;
    border-radius: 20px;
    padding: 10px 100px;
    margin: 0px auto;
}
.small-form h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.3rem;
    text-align: center;
    line-height: 70px;
    margin: 0px;
}
.small-form p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
    text-align: center;
    line-height: 25px;
    margin: 10px 0px;
    
}
.delicious-span{
    color:#ff7300;
}
.explore-button{
    text-decoration: none;
    padding: 5px;
    background-color: #ff7300;
    color: white;
    border: none;
}
.explore-button p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
}
.button-small-container{
    text-align: center;
    background-color: #ff7300;
    width: 220px ;
    border-radius: 30px;
    margin: 20px auto;
    
}
.section1{
    width: 100%;
    background-color: #f1f1f1;
    min-height: 300px;
    display: block;
    justify-content: space-between;
    margin: 0px;
}
.shop-span{
    color:#ff7300;
}
.sub1-Section-1 h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.3rem;
    text-align: center;
    line-height: 70px;
    margin: 0px;
}
.sub1-Section-1{
    width: 20%;
    margin: 0px auto 20px auto;
    padding-top: 20px;
}
.sub2-Section-1{
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: rgba(95, 158, 160, 0);
    margin: 20px auto;
}
.meal-1{
    width: 14%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(210, 105, 30, 0);
}
.meal-2{
    width: 14%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(210, 105, 30, 0);
}
.meal-3{
    width: 14%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(210, 105, 30, 0);
}
.meal-4{
    width: 14%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(210, 105, 30, 0);
}

.meal-5{
    width: 14%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(210, 105, 30, 0);
}
.meal-6{
    width: 14%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(210, 105, 30, 0);
}

.image-div1{
    width: 67%;
    height: 125px;
    background: linear-gradient(to right, rgba(24, 23, 23, 0) 50%, rgba(17, 17, 17, 0)), url('Resources/food1.jpeg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    text-align: center;
    margin: 10px auto;

}
.image-div2{
    width: 67%;
    height: 125px;
    background: linear-gradient(to right, rgba(24, 23, 23, 0) 50%, rgba(17, 17, 17, 0)), url('Resources/food5.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    text-align: center;
    margin: 10px auto;

}
.image-div3{
    width: 67%;
    height: 125px;
    background: linear-gradient(to right, rgba(24, 23, 23, 0) 50%, rgba(17, 17, 17, 0)), url('Resources/food3.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    text-align: center;
    margin: 10px auto;

}
.image-div4{
    width: 67%;
    height: 125px;
    background: linear-gradient(to right, rgba(24, 23, 23, 0) 50%, rgba(17, 17, 17, 0)), url('Resources/food4.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    text-align: center;
    margin: 10px auto;

}

.image-div5{
    width: 67%;
    height: 125px;
    background: linear-gradient(to right, rgba(24, 23, 23, 0) 50%, rgba(17, 17, 17, 0)), url('Resources/food2.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    text-align: center;
    margin: 10px auto;

}
.image-div6{
    width: 67%;
    height: 125px;
    background: linear-gradient(to right, rgba(24, 23, 23, 0) 50%, rgba(17, 17, 17, 0)), url('Resources/food6.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    text-align: center;
    margin: 10px auto;

}
.food{
    width: 200px;
    height: 200px;
    margin: 20px 0px;
    border-radius: 100px;
}
.sub2-Section-1 h4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
}
.section2{
    width: 100%;
    background-color: #f1f1f100;
    min-height: 300px;
    display: block;
    justify-content: space-between;
    margin: 0px auto;
}

.sub2-section2{
    width: 66%;
    margin: 0px auto 20px auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.reciepe-span{
    color:#ff7300;
}
.sub1-Section-2 h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.3rem;
    text-align: center;
    line-height: 70px;
    margin: 0px;
}
.sub1-Section-2 {
    
    text-align: center;
    justify-content: center;
}
.box{
    width: 31.5%;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
    padding: 0px;
    text-align: center;
}
.box h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.box h5{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px;
}
.ingredient{
    font-weight: 700;
}
.image-1{
    width: 100%;
    height: 280px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px 20px 0px 0px;
    text-align: center;


}
.image-2{
    width: 100%;
    height: 280px;    
    background-color: rgb(236, 236, 236);
    border-radius: 20px 20px 0px 0px;
    text-align: center;

}
.image-3{
    width: 100%;
    height: 280px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px 20px 0px 0px;
    
    align-items: center;
    text-align: center;
}
.recipe-image{
    width: 230px;
    margin-top: 30px;
}
.section3{
    min-height: 500px;
    background-color: rgba(255, 99, 71, 0);
    width: 66%;
    margin: 0px auto;
    display: block;
    
}
.chef_SVG1{
    width: 100px;
    height: auto;
}
.part-1{
    height: 100px;
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: space-between;
}

.subpart1-part1{
    height: 100px;
    width: 20%;
    background-color: rgba(208, 127, 255, 0);
}
.subpart1-part1 h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.3rem;
    color: #01102c;
}
.recipe-2{
    color: #ff7300;
}
.subpart2-part1{
    height: 100px;
    width: 20%;
    background-color: rgba(255, 127, 127, 0);
    text-align: right;
    /* padding-top: 15px; */
}

.view-more{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    border: 0px solid rgba(188, 143, 143, 0);
    background-color: rgb(7, 49, 104);
    color: white;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 15px 9px 15px ;
    margin-top: 40px;
   
}
.view-more:hover{
    color: rgb(7, 49, 104);
    background-color: #ff7300;
    transition: 0.4s;
    border: 0.5px;
}
.part-2{
    font-family: "Poppins", sans-serif;
    height: 650px;
    width: 100%;
    background-color: rgba(29, 42, 38, 0);
    display: flex;
}
.subpart1-part2{
    height: 650px;
    width: 60%;
    background-color: rgba(71, 61, 139, 0);
    padding: 30px 20px 0px 0px;
}
.subpart1-part2 p{
    margin-bottom: 0px;
    color:#01102c;
    padding: 0px 80px 0px 0px;
    
}
.big-date{
    font-size: 0.85rem;
}
.big-description{
    font-size: 0.9rem;
}
.subpart2-part2{
    height: 650px;
    width: 40%;
    background-color: rgba(61, 139, 106, 0);
    display: block;
    justify-content: space-between;
    padding: 30px 0px 30px 10px;
}
.image-part{
    margin: 0px;
    width: 100%;
    height: 450px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.137) 50%, rgba(17, 17, 17, 0.109)), url('Resources/chef3.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 20px 20px;
}


.blog-1{
    width: 100%;
    height: 29%;
    background-color: rgba(255, 99, 71, 0);
    display: flex;
}
.part1-blog-1{
    width: 40%;
    height: 100%;
    border-radius: 20px;
}
.part2-blog-1{
    display: block;
    width: 60%;
    padding: 0px 20px;
}
.chef1{
    width: 200px;
    border-radius: 20px;

}
.blog-2{
    width: 100%;
    height: 29%;
    background-color: rgba(255, 99, 71, 0);
    display: flex;
    margin: 30px 0px;
}
.blog-3{
    width: 100%;
    height: 29%;
    background-color: rgba(255, 99, 71, 0);
    display: flex;
}
.date{
    color: rgb(85, 85, 85);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 10px;
    font-size: 0.8rem;
}
.type{
    width: 80px;
    height: 20px;
    background-color: rgba(130, 246, 149, 0.616);
    border-radius: 30px;
    margin: 0px;
    text-align: center;
    padding-top: 6px;
}
.type p{
    margin: 0px;
    font-size: 0.7rem;
}
.name{
    margin: 10px 0px;
}
.decription{
    color: rgb(36, 35, 35);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin: 0px;
}
.section4{
    width: 100%;
    min-height: 400px;
    background-color: tomato;
    display: flex;
    margin: 50px 0px;
}
.part1-section4{
    width: 30%;
    min-height: 400px;
    background-color: rgb(71, 172, 255);
}

.part2-section4{
    width: 40%;
    background-color: rgb(71, 255, 71);
    height: 400px;
}

.part3-section4{
    width: 30%;
    min-height: 400px;
    background-color: rgb(71, 172, 255);
}

.subscription-span{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #ff7300;
}